body {
	width: 80%;
	font-family: 'Poppins', sans-serif;
	margin: 2.5em auto 0;
}

li {
	margin-bottom: 2em;
}

p {
	margin-bottom: 3em;
}
code,
pre {
	font-family: monospace;
	background: #ffeff0b5;
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: 0.1rem 0.3rem 0.2rem;
	border-radius: 0.2rem;
}

#sample-links {
	margin: 3em 0;
}

span {
	font-size: 12px;
}

li a {
	text-decoration: none;
}
